.beige {
    
  height: 100%;
  width: 100%;
} 

.research_Header {
  font-family: 'Marcellus', serif;
  position: absolute;
  top: 20px;
  left: 620px;
  font-size: 60px;
  text-shadow: 1px 3px 4px rgb(55, 52, 52);
}

.research_List {
display: flex;
}
.research_Container {
   /* background-color: #b1bcb5; */
   width: 1110px;
   height: 500px;
   border-radius: 20px;
   padding: 30px;
   margin: 50px;
   margin-left: 300px;
   position: absolute;
   top: 130px;
   /* left: 300px; */
   /* width: 900px; */
}
  .all_Research {
    margin: 10px;
    border-radius: 5px;
    /* overflow-y: scroll; */
    height: 400px;
    margin-top: 15px;
    display: flex;
  }

  .researchTopic {
    display: flex;
    flex-direction: row;
    /* background-color: #a5c9b5; */
    margin: 10px;
    cursor: pointer;
    width: 170px;
    height: 100px;

  }

  .add_Research_Button {
    border: 2px solid black;
    /* z-index: 2; */
    position: absolute;
    top: 17%;
    left: 43%; 
    text-align: center;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px rgb(55, 52, 52);
    font-family: 'Marcellus', serif;
    
  }

  .folder_Image {
height: 150px;
  }

  .folder_Text {
    margin-left: -115px;
    text-align: center;
 }

 .research_Gif {
  margin-top: -285px;
  
 }

  
  /* Journal Details */
  .research_Details_Card {
    background-color: #b1bcb5;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    padding: 30px;
    margin: 50px;
    margin-left: 250px;
  }

  .all_Research_Details {
    background-color: #c9d2cd;
    margin: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    height: 450px;
    margin-top: 15px;
  }

  .journal_Content {

  }

  

  .date_User {

  }

  .research_Delete {
    background-color: #f3933f;
    border-radius: 5px;
    margin: 5px;
  }

  .research_Edit {
    background-color: #f3933f;
    border-radius: 5px;
    margin: 5px;
  }
  
  .edit_Delete {
    /* background-color: #f3933f; */
  /* margin-left: 1px; */
  width: 150px;
  }

  /* Add Journal Form */
  .research_Form_Container {
    background-color: #b1bcb5;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    padding: 30px;
    margin: 50px;
    margin-left: 250px;
  }
  .research_Form {
    background-color: #c9d2cd;
    margin: 10px;
    border-radius: 5px;
    height: 450px;
    margin-top: 15px;
    padding: 15px;
  }

  .research_Form_Group {
    margin: 5px;
  }
  .research_Note {
    height: 300px;
    width: 500px;
  }


