/* Homepage */
.navBar {
  background-color: #76857c;
}

.r {
  font-size: 70px;
  position: absolute;
  top: 20%;
  left: 58%;
  rotate: 50deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.e {
  font-size: 70px;
  position: absolute;
  top: 30%;
  left: 62%;
  rotate: 55deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.f {
  font-size: 70px;
  position: absolute;
  top: 40%;
  left: 65%;
  rotate: 60deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.l {
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 67%;
  rotate: 70deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.ee {
  font-size: 70px;
  position: absolute;
  top: 60%;
  left: 68.5%;
  rotate: 75deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.c {
  font-size: 70px;
  position: absolute;
  top: 70%;
  left: 69.5%;
  rotate: 80deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.t {
  font-size: 70px;
  position: absolute;
  top: 80%;
  left: 70%;
  rotate: 85deg;
  text-shadow: 2px 8px 8px #604c4c;
}

.container {
  background-color: #76857c;
  /* position: absolute; */
  /* top: 1%; */
  /* left: 10%; */
  max-width: 100%; 
  height: auto;
}

.home {
  background-color: #76857c;
  height: 800px;
  
}

.journal_Button {
  position: absolute;
  top: 18%;
  left: 40%; 
  text-align: center;
  height: 200px;
  width: 200px;
  font-size: 20px;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
}
.trends_Button {
  position: absolute;
  top: 42%;
  left: 25%; 
  text-align: center;
  height: 200px;
  width: 200px;
  font-size: 20px;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
}
.research_Button {
  position: absolute;
  top: 80%;
  left: 25%; 
  text-align: center;
  height: 200px;
  width: 200px;
  font-size: 20px;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
}

/* .App {
  text-align: center;
  background-color: #76857c;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
