
  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Marcellus&family=Montserrat:wght@300&family=Open+Sans:wght@300;400&family=Reem+Kufi:wght@400;500;600;700&family=Roboto+Condensed:wght@300&display=swap');
/* Login & Register */

.user_Profile {

}

.profile_Container {
height: 500px;
width: 500px;
position: absolute;
  top: -750px;
  left: 550px;
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
}

.login_Container {
  /* background-color: #76857c; */
  position: absolute;
  top: 0%;
  right: 0%;
}

.login_gif {
  /* border: 5px solid darkblue; */
  width: 300px;
  height: 300px;
  position: absolute;
  top: 100px;
  right: 600px;
}

.reflect {
  /* border: 5px solid darkblue; */
  font-family: 'Marcellus', serif; 
  position: absolute;
  top: 330px;
  right: 680px;
  font-size: 40px;
}

.reflect_Login_Page {
  font-family: 'Marcellus', serif;
  font-size: 60px;
  position: absolute;
  top: 295px;
  right: 640px;

}

.login_functions {
  /* border: 5px solid darkblue; */
  width: 300px;
  height: 300px;
  position: absolute;
  top: 400px;
  right: 600px;
}

.login_button {
  position: absolute;
  top: -1px;
   left: 320px;
}

.login_Email {
  position: absolute;
  top: 7px;
  left: -60px;
}

.not_registered {
  position: absolute;
  top: 50px;
  left: 75px;
}
/* Homepage */
.home {
  /* background-color: #76857c; */
  height: 800px;
}

.brown {
  position: absolute;
  top: 3%;
  left: 63%;
  height: 95%;
  width: 50%;
}

.beige {
  height: 100%;
  width: 100%;
}

.navBar {
  /* background-color: #76857c; */
   font-family: 'Marcellus', serif;
}

.reflect {
  font-size: 70px;
  z-index: 2;
  position: absolute;
  top: 80%;
  left: 55%;
  /* rotate: 50deg; */
  text-shadow: 2px 8px 8px #604c4c;
}
.e {
  font-size: 70px;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 62%;
  rotate: 55deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.f {
  font-size: 70px;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 65%;
  rotate: 60deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.l {
  font-size: 70px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 67%;
  rotate: 70deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.ee {
  font-size: 70px;
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 68.5%;
  rotate: 75deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.c {
  font-size: 70px;
  z-index: 2;
  position: absolute;
  top: 70%;
  left: 69.5%;
  rotate: 80deg;
  text-shadow: 2px 8px 8px #604c4c;
}
.t {
  font-size: 70px;
  z-index: 2;
  position: absolute;
  top: 80%;
  left: 70%;
  rotate: 85deg;
  text-shadow: 2px 8px 8px #604c4c;
}

.container {
  background-color: #76857c;
  /* position: absolute; */
  /* top: 1%; */
  /* left: 10%; */
  max-width: 100%; 
  height: auto;
}

 .child2 {
  position: absolute;
 
 }

.home_gif {
  /* background-color: #76857c; */
  height: 800px;
  z-index: 1;
  /* position: absolute;
  top: 42%;
  left: 25%;  */
  transform: translate(12%, -102%);
}

.journal_Button {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 20%; 
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  /* transform: translate(300%, -50%); */
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
  font-family: 'Marcellus', serif;
}
.trends_Button {
  font-family: 'Marcellus', serif;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 20%; 
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  /* transform: translate(30%, -50%); */
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
}
.research_Button {
  font-family: 'Marcellus', serif;
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 20%; 
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  /* transform: translate(-50%, -50%); */
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
}

.profile_Button {
  font-family: 'Marcellus', serif;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 20%; 
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  /* transform: translate(-50%, -50%); */
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
}

.logout_Icon {
  position: absolute;
  top: 2%;
  left: 1%;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  border: 2px solid rgb(202, 200, 200);
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
  border-radius: 10px;
}

.back_Icon {
  position: absolute;
  top: 40%;
  left: 3%;
  padding-left: 10px;
  font-size: 50px;
  height: 90px;
  width: 50px;
  text-align: center;
  border: 2px solid rgb(202, 200, 200);
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
  border-radius: 10px;
}

.register_Form {
  position: absolute;
  top: 40%;
  right: 35%;
  width: 500px;
}

.register_Title {
  /* border: 5px solid darkblue; */
  font-family: 'Marcellus', serif; 
  position: absolute;
  top: 200px;
  right: 680px;
  font-size: 70px;
}

.register_gif {
  /* border: 5px solid darkblue; */
  width: 300px;
  height: 300px;
  position: absolute;
  top: -170px;
  right: 500px;
}

.go_Back {
  position: absolute;
  top: 280px;
  left: 120px;
}
