.beige {
    
  height: 100%;
  width: 100%;
} 

.journal_Header {
  font-family: 'Marcellus', serif;
  position: absolute;
  top: 20px;
  left: 570px;
  font-size: 60px;
  text-shadow: 1px 3px 4px rgb(55, 52, 52);
}

.journal_container {
    /* background-color: #b1bcb5; */
    width: 650px;
    height: 500px;
    border-radius: 20px;
    padding: 30px;
    margin: 50px;
    margin-left: 450px;
    position: absolute;
    top: 130px;
    /* left: 300px; */
    /* width: 900px; */
}

.div {
  /* background-color: #70706e;
  height: 25px;
  width: 5px;
  position: absolute;
  margin: 5px; */
 
}
  .all_journals {
    /* display: flex; */
    /* background-color: #eaefec; */
    margin: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    height: 400px;
    margin-top: 15px;
    /* box-shadow: 5px 4px 4px rgb(55, 52, 52); */
  }

  .journal_List_Title {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    /* position: absolute; */
    /* margin-left: 15px; */
    /* padding: 25px; */
    
  }

  .journal {
    background-color: #b7c4bd;
    margin: 30px;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
    /* border-radius: 5%; */

  }

  .add_Journal_Button {
  border: 2px solid black;
  /* z-index: 2; */
  position: absolute;
  top: 17%;
  left: 44%; 
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
  font-family: 'Marcellus', serif;
  
  }

  .home_Icon {
    position: absolute;
    top: 80%;
    left: 80%;
    font-size: 60px;
    height: 100px;
    width: 100px;
    text-align: center;
    border: 2px solid rgb(230, 227, 227);
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
  border-radius: 10px;
  }


  .more_Button {
    float:right;
  }




  /* Journal Details */
  .journal_Details_Card {
    /* background-color: #b1bcb5; */
    width: 650px;
    height: 500px;
    border-radius: 20px;
    padding: 30px;
    margin: 50px;
    margin-left: 450px;
    position: absolute;
    top: 50px;
    /* left: 300px; */
    /* width: 900px; */
  }

  .journal_Title {
    font-family: 'Marcellus', serif;
    position: absolute;
    top: 20px;
    left: 620px;
    font-size: 60px;
    text-shadow: 1px 3px 4px rgb(55, 52, 52);
  }

  .all_Journal_Details {
    background-color: #c9ccd2;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    height: 450px;
    margin-top: 15px;
  }

  .journal_Delete {
    border: 2px solid black;
    /* z-index: 2; */
    position: absolute;
    top: 85%;
    left: 60%; 
    text-align: center;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px rgb(55, 52, 52);
    font-family: 'Marcellus', serif;
  }

  .journal_Edit {
    border: 2px solid black;
    /* z-index: 2; */
    position: absolute;
    top: 85%;
    left: 45%; 
    text-align: center;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px rgb(55, 52, 52);
    font-family: 'Marcellus', serif;
  }
  

  .add_tag_Journal {
    border: 2px solid black;
  /* z-index: 2; */
  position: absolute;
  top: 85%;
  left: 30%; 
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
  font-family: 'Marcellus', serif;
  }

  /* Add Journal Form */

  .journal_Form_Container {
    /* background-color: #b1bcb5; */
    width: 750px;
    height: 700px;
    border-radius: 20px;
    padding: 30px; 
  }

  .journal_Form {
    background-color: #c9d2cd;
    margin: 10px;
    border-radius: 5px;
    height: 600px;
    margin-top: 15px;
    padding: 15px;
  }

  .journal_Form__Title {
    text-shadow: 1px 2px 3px rgb(108, 105, 105);
    font-family: 'Marcellus', serif;
    
  }

  .journal_Form_Group {
    margin: 5px;
  }

  .title_Input {
    width: 390px;
    border-radius: 5px;
  }

  .description_Input {
    width: 390px;
    border-radius: 5px;
  }

  .journal_Content {
    height: 390px;
    width: 630px;
    border-radius: 5px;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    padding: 5px;
  }

  .description {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
  }

  .content {
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    display: flex;

  }
  

  

  