.journal_container {
    /* background-color: #b1bcb5; */
    width: 650px;
    height: 500px;
    border-radius: 20px;
    padding: 30px;
    margin: 50px;
    margin-left: 450px;
    position: absolute;
    top: 130px;
    /* left: 300px; */
    /* width: 900px; */
}

.div {
  /* background-color: #70706e;
  height: 25px;
  width: 5px;
  position: absolute;
  margin: 5px; */
 
}
  .all_journals {
    /* display: flex; */
    /* background-color: #eaefec; */
    margin: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    height: 400px;
    margin-top: 15px;
    /* box-shadow: 5px 4px 4px rgb(55, 52, 52); */
  }

  .journal_List_Title {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    /* position: absolute; */
    /* margin-left: 15px; */
    /* padding: 25px; */
    
  }

  .journal {
    background-color: #b7c4bd;
    margin: 30px;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
    /* border-radius: 5%; */

  }

  .add_Journal_Button {
  border: 2px solid black;
  /* z-index: 2; */
  position: absolute;
  top: 17%;
  left: 44%; 
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
  font-family: 'Marcellus', serif;
  
  }

  .home_Icon {
    position: absolute;
    top: 80%;
    left: 80%;
    font-size: 60px;
    height: 100px;
    width: 100px;
    text-align: center;
    border: 2px solid rgb(230, 227, 227);
  box-shadow: 5px 4px 4px rgb(55, 52, 52);
  border-radius: 10px;
  }

  .test {
    /* border-color: black; */

  }

  .more_Button {
    float:right;
  }




  /* Journal Details */
  .journal_Details_Card {
    background-color: #b1bcb5;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    padding: 30px;
    margin: 50px;
    margin-left: 250px;
  }

  .all_Journal_Details {
    background-color: #c9d2cd;
    margin: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    height: 450px;
    margin-top: 15px;
  }

  .journal_Content {

  }

  .photo {

  }

  .date_User {

  }

  .journal_Delete {
    background-color: #f3933f;
    border-radius: 5px;
    margin: 5px;
  }

  .journal_Edit {
    background-color: #f3933f;
    border-radius: 5px;
    margin: 5px;
  }
  
  .edit_Delete {
  margin-left: 810px;
  }

  /* Add Journal Form */
  .journal_Form_Container {
    background-color: #b1bcb5;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    padding: 30px;
    margin: 50px;
    margin-left: 250px;
  }
  .journal_Form {
    background-color: #c9d2cd;
    margin: 10px;
    border-radius: 5px;
    height: 450px;
    margin-top: 15px;
    padding: 15px;
  }

  .journal_Form_Group {
    margin: 5px;
  }
  .journal_Content {
    height: 200px;
    width: 500px;
  }

  .beige {
    
    height: 100%;
    width: 100%;
  }

  .journal_Header {
    font-family: 'Marcellus', serif;
    position: absolute;
    top: 20px;
    left: 570px;
    font-size: 60px;
    text-shadow: 1px 3px 4px rgb(55, 52, 52);
  }

  .paper {
    position: absolute;
    top: 90px;
    left: 300px;
    width: 900px;
  }

  